<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> 
<html class="ie6" lang="en">
<![endif]-->
<!--[if IE 7 ]>    
<html class="ie7" lang="en">
<![endif]-->
<!--[if IE 8 ]>    
<html class="ie8" lang="en">
<![endif]-->
<!--[if IE 9 ]>    
<html class="ie9" lang="en">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "North India Steel Tube" %></title>
    <%= favicon_link_tag "/assets/logo.jpg" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="background: url(/assets/halftone.png);">
    <div class="large-12 columns" style="background-color:none">
      <div class="large-3 columns" style="padding-left:50px;">
        <a href="/welcome/index"><img src="/assets/logo1.png"></a>
      </div>
      <div class="large-9 columns">
        <br><br>
        <ul class="right button-group">
          <li><a href="/welcome/index" class="small button">Home</a></li>
          <li><a href="#" class="small button dropdown" data-dropdown="drop2">About Us</a></li>
          <ul id="drop2" class="f-dropdown" data-dropdown-content>
            <li><a href="/welcome/aboutus">About NIST</a></li>
            <li><a href="/welcome/aboutus1">Group Concerns</a></li>
          </ul>
          <li><a href="#" class="small button dropdown" data-dropdown="drop1">Products</a></li>
          <ul id="drop1" class="f-dropdown" data-dropdown-content>
            <li><a href="/welcome/products">Range</a></li>
            <li><a href="/welcome/price">Price List</a></li>
          </ul>


          <li><a href="/welcome/specifications" class="small button">Specifications</a></li>
          <li><a href="/welcome/gallery" class="small button">Gallery</a></li>
          <li><a href="#" class="small button dropdown" data-dropdown="drop3">Contact Us</a></li>
          <ul id="drop3" class="f-dropdown" data-dropdown-content>
            <li><a href="/welcome/contactus">Hyderabad</a></li>
            <li><a href="/welcome/contactus#vijay">Vijayawada</a></li>
            <li><a href="/welcome/contactus1">Management</a></li>
          </ul>
          <li><a href="/contacts/new" class="small button">Enquiry</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="large-12 columns">
      <%= yield %>
    </div>
    <div style="padding:4em;">
    </div>
    <footer>
      <div class="large-12 columns footer">
        <div class="container">
          <marquee behavior="scroll" onmouseover="this.setAttribute('scrollamount', 3, 0);" onmouseout="this.setAttribute('scrollamount', 7,0);">
            <a href="#" data-reveal-id="myModal1"><img id="logo" src="/assets/footer/jindhis.jpg"></a>
            <a href=""><img id="logo" src="/assets/footer/zenith.png" alt="zenith birla"></a>  
            <a href=""><img id="logo" src="/assets/footer/pipes.jpeg"></a>
            <a href="#" data-reveal-id="myModal4"><img id="logo" src="/assets/footer/jindind.png"></a>
            <a href=""><img id="logo" src="/assets/footer/maha.png" alt="maharasthra seamless"></a>
            <a href=""><img id="logo" src="/assets/footer/saw.gif"></a>
            <a href=""><img id="logo" src="/assets/footer/aerocon.png"></a>
            <a href="http:www.salasarindia.com" target="_bla"><img id="logo" src="/assets/footer/salasar.jpg"></a>
            <a href=""><img id="logo" src="/assets/footer/bhushan.jpg"></a>
            <a href=""><img id="logo" src="/assets/footer/tt-swastik.gif"></a>
            <a href=""><img id="logo" src="/assets/topworth.jpg"></a>
          </marquee>
        </div>
      </div>
      <div class="large-12 columns footer_caption">
        <br>
        <p align="center" style="color:#5c5c5c;">© Copyright Reserved at North India Steel Tubes</p>
      </div>
    </footer>



    <div id="myModal1" class="reveal-modal" data-reveal style="height:75em">
        <h4>Nist Dealership Certificate</h4>
        <iframe src="" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
    </div>

    <div id="myModal4" class="reveal-modal" data-reveal style="height:75em">
        <h4>Nist Dealership Certificate</h4>
        <iframe src="/assets/footerpdf/nistdealership.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
    </div>

    <%= javascript_include_tag "application" %>
  </body>
  <style type="text/css">
    .small-3 p{
    margin-bottom: 0;
    }
    .f-dropdown:after{
    left:75px;
    }
    .f-dropdown:before{
    left:75px;
    }
    #logo {
    width: 180px;
    height: 120px;
    }
    .footer{
    background: #085a78;
    padding: 1em;
    }
    .footer img{
    margin: 1em 0em;
    border-radius:20px;
    }
    .footer_caption{
    background: #333333;
    }
    .borderr{
    border-radius:20px;
    }
  </style>
</html>